.popular-movies-card-title {
  font-size: 1.5rem;
}

.upcoming-movies-card-title {
  font-size: 1.5rem;
}

.top-rated-movies-card-title {
  font-size: 1.5rem;
}

.now-playing-movies-card-title {
  font-size: 1.5rem;
}
